{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "proseWrap": "preserve",
    "arrowParens": "avoid",
    "parser": "typescript"
  }